.main{
    margin: 0 auto;
    text-align: center;
}

.radius {
    /* 테투리 css */
    border-radius: 30px;
  
    /* 기본 css */
    display: inline-block;
    text-align: center;
    padding: 50px 100px;
    color: white;
    background-color: #00000052;
    font-size: 2rem;
    font-weight: 600;
}